.wrapper{
	position: relative;
	overflow: hidden;
	min-height: 100%;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
.header {
	position: fixed;
	width: 100%;
	z-index: 99;
}
.header__container {
	min-width: 1100px;
	
}
.header__menu {
	
}
.menu {
	padding: 10px;
	background-color: aliceblue;
	text-align: center;
	z-index: 100;
	
	}
.menu__item {
	position: relative;
	display: inline-block;
}
.menu__item:not(:last-child) {
	margin-right: 50px;
}
.menu__link {		
	font-size: 35px;
	font-weight: 700;
	font-style: oblique ;	
	text-shadow: 6px 5px 3px rgba(94, 93, 93, 0.618);
}
.menu__item:hover .sub-menu{
	opacity: 1;
	visibility: visible;
	top: 100%;
}
.sub-menu {
	min-width: 140px;
	font-weight: 700;
	font-size: 22px;
	padding: 10px;	
	border-radius: 20px;
	background-color: rgb(180, 243, 103);
	position: absolute; 
	top: 140%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease 0s;
}
.sub-menu__item {
}
.sub-menu__item:not(:last-child){
	margin-bottom: 10px;
}
.sub-menu__link {
	color: rgb(209, 0, 146);
}
.sub-menu__link:hover {
color: aliceblue;
text-shadow: 2px 2px 2px #000;
}
.menu__sub-menu {
}
/* ========== MAIN ======== */
.main{
	background: url("../img/fons.jpg") 0 0 / cover no-repeat  ;
	width: 100% ;
	height:1740px;
	z-index: 2;
}
/* ============ CARS =========== */
.car{
	position: relative;	
}
.car__button{
	position: absolute;
	top: 1200px;
	left: 1100px;
	width: 150px;
	height: 100px;
	background-color: cornflowerblue;
	border-radius: 30px;
	font-size: 33px;
	font-weight: 900;
	color: azure;
	text-shadow: 3px 4px 2px #000;
	box-shadow: 5px 5px 5px  rgb(24, 100, 240);
}
.car__button:hover{
	text-shadow: -3px -4px 2px #000;
	color: cyan;
	box-shadow: inset 7px 8px 8px  rgb(24, 100, 240);
}
.car__button::before{
	content: "Нажми";
	color: brown;
	font-size: 16px;
	position: absolute;
	top: 10px;
	text-shadow: none;
} 
.car__frame {
	position: absolute;
	top: 1450px;
	left: 1200px;
	width: 600px;
	height: 250px;
	background-color: crimson;
	border-radius: 91% 9% 26% 74% / 64% 58% 42% 36%;
}
.car__doors {
	position: absolute;
	top: 1482px;
	left: 1290px;
	width: 180px;
	height: 90px;
	background-color: rgba(153, 249, 242, 0.919);
	border-radius: 100% 0% 0% 100% / 100% 58% 42% 0% ;
	border: 5px solid firebrick;
	z-index: 2;
}
.car__doors-front {
	position: absolute;
	top: 1564px;
	left: 1290px;
	width: 180px;
	height: 88px;
	border: 5px solid firebrick;
	background-color:crimson;
	z-index: 3;
}
.car__doors-back {
	position: absolute;
	top: 1560px;
	left: 1475px;
	width: 180px;
	height: 92px;
	border: 5px solid firebrick;
}
.car__doors-back--border{
	position: absolute;
	top: 1480px;
	left: 1475px;
	width: 180px;
	height: 90px;
	background-color: rgba(153, 249, 242, 0.919);
	border: 5px solid firebrick;
}
.car__lights {
	position: absolute;
	top: 1560px;
	left: 1215px;
	width: 30px;
	height: 20px;
	background-color: aqua;
	border-radius: 100% 0% 0% 100% / 100% 58% 42% 0% ;
	border-top: 3px solid rgb(241, 249, 3);
	border-left: 8px solid rgb(241, 249, 3);
}
.car__lights-back{
	position: absolute;
	top: 1520px;
	left: 1765px;
	width: 25px;
	height: 60px;
	background-color: rgba(255, 254, 254, 0.94);
	border-bottom: 10px solid rgb(227, 235, 8) ;
	border-top: 35px solid rgb(247, 10, 10);
}
.car__pens-back {
	position: absolute;
	top: 1580px;
	left: 1625px;
	width: 15px;
	height: 5px;
	border: 5px solid rgb(1, 1, 1);
}
.car__pens{
	position: absolute;
	top: 1580px;
	left: 1435px;
	width: 15px;
	height: 5px;
	border: 5px solid rgb(1, 1, 1);
	z-index: 4;
}
.car__discs {
	position: absolute;
	top: 1650px;
	left: 1335px;
	width: 75px;
	height: 75px;
	background-color: rgb(82, 82, 82);
	border-radius: 50%;
	border: 15px solid #000;
}
.car__discs-back{
	position: absolute;
	top: 1650px;
	left: 1635px;
	width: 75px;
	height: 75px;
	background-color: rgb(82, 82, 82);
	border-radius: 50%;
	border: 15px solid #000;
}
.car__doors-person{
	position: absolute;
	top: 1482px;
	left: 1290px;
	width: 180px;
	height: 90px;	
	border-radius: 100% 0% 0% 100% / 100% 58% 42% 0% ;
	border: 5px solid firebrick;
	background: url("../img/snupi.jpg")  60px 10px/ 80px no-repeat ;
} 
/* ===== HOVER ===== */
.car:hover .car__frame{
	left: 700px;
}
.car:hover .car__doors{
	top: 1552px;
	left: 790px;
	border: none;
}
.car:hover .car__doors-front{
	background-color:crimson;
	left: 790px;
}
.car:hover .car__doors-back{
	left: 975px;
}
.car:hover .car__doors-back--border{
	left: 975px;
}
.car:hover .car__lights{
	left: 715px;
}
.car:hover .car__lights-back{
	left: 1265px;
}
.car:hover .car__pens{
	left: 935px;
}
.car:hover .car__pens-back{
	left: 1125px;
}
.car:hover .car__discs{
	left: 835px;
}
.car:hover .car__discs-back{
	left: 1135px;
}
.car:hover .car__doors-person{
	left: 790px;
}
.car__frame,
.car__doors,
.car__doors-front,
.car__doors-back,
.car__doors-back--border,
.car__lights,
.car__lights-back,
.car__pens,
.car__pens-back,
.car__discs,
.car__discs-back,
.car__doors-person{
	transition: all 0.5s ease 0s;
}
